*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/misc.xml
.idea/misc.xml
/.idea/qaplug_profiles.xml
.idea/qaplug_profiles.xml
/.idea
.idea/
/.idea/
.idea
projectFilesBackup
/projectFilesBackup
projectFilesBackup/
/projectFilesBackup/
